{% load static %}
<!--Main Wrapper-->
<div class="wrapper">
  <!-- Header Start -->
  <header id="header">
    <div class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="logo">
              <figure>
                <a href="{% url 'home' %}" class="light-logo">
                  <img
                    src="{% static 'extra-images/main-logo.png' %}"
                    alt="FoodBakery"
                  />
                </a>
              </figure>
            </div>
            {% comment %}
            <div class="main-nav">
              <nav id="site-navigation" class="main-navigation">
                <ul>
                  <li>
                    <a href="#">Demos</a>
                    <ul>
                      <li><a href="index.html">Food Bakery</a></li>
                      <li>
                        <a href="mexican-restaurant.html">Mexican Restaurant</a>
                      </li>
                      <li><a href="foodstop.html">Food Stop</a></li>
                      <li><a href="rtl.html">Rtl Demo</a></li>
                      <li><a href="food-cout.html">Food Court</a></li>
                      <li>
                        <a href="single-restaurant.html"
                          >Single Restaurant Demo</a
                        >
                      </li>
                    </ul>
                    <!--End Sub Menu -->
                  </li>
                  <li><a href="listings.html">Restaurants</a></li>
                  <li>
                    <a href="#">Pages</a>
                    <ul>
                      <li><a href="price-plans.html">Price Plans</a></li>
                      <li><a href="how-it-works.html">How it works</a></li>
                      <li><a href="faq.html">FAQ’s</a></li>
                      <li><a href="404.html">404</a></li>
                      <li>
                        <a href="search-result.html">Search Result</a>
                      </li>
                      <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                    <!--End Sub Menu -->
                  </li>
                  <li>
                    <a href="#">Blogs</a>
                    <ul>
                      <li><a href="blog-large.html">Blog Large</a></li>
                      <li><a href="blog-medium.html">Blog Medium</a></li>
                      <li><a href="blog-masonry.html">Blog Masonry</a></li>
                      <li>
                        <a href="blog-detail.html">Blog Detail Page</a>
                      </li>
                    </ul>
                    <!--End Sub Menu -->
                  </li>
                </ul>
              </nav>
              <!-- .main-navigation -->
            </div>
            {% endcomment %}
            <div class="main-location">
              {% comment %}
              <ul>
                <li class="location-has-children">
                  <a href="#"
                    ><i class="icon-compass-with-white-needles"></i>Feel Like
                    Eating</a
                  >
                  {% endcomment %} {% comment %}
                  <ul>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-05-1.png"
                        />Apple Juice</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-19-1.png"
                        />BB.Q</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-22-1.png"
                        />Beef Roast</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-10-1.png"
                        />Carrot Juice</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-03-1.png"
                        />Cheese Burger</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-07-1.png"
                        />Chicken Roast</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-01-1.png"
                        />Chines Soup</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-18-1.png"
                        />Cold Coffee</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-23-1.png"
                        />Cold Drink</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-28-1.png"
                        />Cupcake</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-21-1.png"
                        />Doughnut</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-25-1.png"
                        />Drum Stick</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-11-1.png"
                        />Egg Fry</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-12-1.png"
                        />Fish Fry</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-13-1.png"
                        />Fresh Juice</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-30-1.png"
                        />Hot Dogs</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-26-1.png"
                        />Ice Cream</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-15-1.png"
                        />Magi</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-09-1.png"
                        />Noodles</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-14-1.png"
                        />Pastry</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-29-1.png"
                        />Pizza</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-06-1.png"
                        />Potato Fries</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-24-1.png"
                        />Prawns</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-17-1.png"
                        />Sham pane</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-27-1.png"
                        />Shawarma</a
                      ><span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-04-1.png"
                        />Soda water</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-16-1.png"
                        />Stakes</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-22-1.png"
                        />Steam Roast</a
                      >
                      <span></span>
                    </li>
                    <li>
                      <a href="listings.html"
                        ><img
                          alt=""
                          src="assets/extra-images/food-icon-02-1.png"
                        />Tea</a
                      ><span></span>
                    </li>
                  </ul>
                </li>
                <li class="location-has-children choose-location">
                  <a href="#"
                    ><i class="icon-location-pin2"></i>Choose location</a
                  >
                  <ul>
                    <li class="select-location">
                      <div class="foodbakery-locations-fields-group">
                        <form action="#">
                          <span
                            id="foodbakery_radius_location_open"
                            class="foodbakery-radius-location"
                            ><i class="icon-target5"></i
                          ></span>
                          <span
                            class="foodbakery-input-cross foodbakery-input-cross-header"
                            style="display: none"
                          >
                            <i class="icon-cross"></i
                          ></span>
                          <input
                            type="text"
                            value=""
                            name="location"
                            placeholder="All Locations"
                            autocomplete="off"
                          />

                          <span
                            ><span class="loc-icon-holder"
                              ><i class="icon-target3"></i></span
                          ></span>
                          <div
                            class="select-location"
                            id="foodbakery-radius-range622192"
                            style="display: none"
                          >
                            <div class="select-popup popup-open">
                              <a
                                id="location_close_popup622192"
                                href="javascript:0;"
                                class="location-close-popup"
                              >
                                <i class="icon-times"></i
                              ></a>
                              <input
                                type="hidden"
                                class="foodbakery-radius"
                                name="foodbakery_radius"
                                value="10"
                              />
                              <p>Show with in</p>
                              <input
                                id="ex16b313324"
                                type="text"
                                data-value="10"
                                value="10"
                                style="display: none"
                              />
                              <script>
                                jQuery(document).ready(function () {
                                  var elem = jQuery("#ex16b313324");
                                  if (elem.length != "") {
                                    elem.slider({
                                      step: 1,
                                      min: 0,
                                      max: 500,
                                      value: 10,
                                    });
                                    elem.on("slideStop", function () {
                                      var rang_slider_val = elem.val();
                                      jQuery(
                                        "#ex16b313324CurrentSliderValLabel"
                                      ).html(rang_slider_val);
                                      jQuery(
                                        "#range-hidden-foodbakery-radius622192"
                                      ).val(rang_slider_val);
                                      //foodbakery_restaurant_content("622192");
                                    });
                                    elem.on("slide", function () {
                                      jQuery(
                                        "#ex16b313324CurrentSliderValLabel"
                                      ).html(elem.val());
                                    });
                                  }

                                  $("#foodbakery_radius_location_open").click(
                                    function () {
                                      $(
                                        "#foodbakery-radius-range622192"
                                      ).show();
                                    }
                                  );
                                  $("#location_close_popup622192").click(
                                    function () {
                                      $(
                                        "#foodbakery-radius-range622192"
                                      ).hide();
                                    }
                                  );
                                });
                              </script>
                              <span
                                >Miles:
                                <span id="ex16b313324CurrentSliderValLabel"
                                  >10</span
                                ></span
                              ><br />
                              <p class="my-location">
                                of
                                <i class="cs-color icon-location-arrow"></i
                                ><a
                                  id="foodbakery-geo-location-all"
                                  class="cs-color foodbakery-geo-location313324"
                                  href="javascript:void(0)"
                                  >My location</a
                                >
                              </p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </li>
                    <li class="popular-location">Popular Locations</li>
                    <li>
                      <ul>
                        <li><a href="#">Acle</a></li>
                        <li><a href="#">Cheshire</a></li>
                        <li><a href="#">Crewe</a></li>
                        <li><a href="#">Devon</a></li>
                        <li><a href="#">England</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              {% endcomment %}
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="login-option">
              <a class="cs-color cs-popup-joinus-btn login-popup" href=""
                >Login</a
              >
              /
              <span
                ><a
                  href="{% url 'registerUser' %}"
                  class="cs-color cs-popup-joinus-btn login-popup ml-0"
                  >Register</a
                ></span
              ><a class="get-start-btn" href=""> Register Restaurant </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
</div>
